<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../src/assets/css/main.css" />
  <link rel="shortcut icon" type="image/png" href="../src/assets/favicon/favicon.png">
</head>
<body>
</div>
<main class="loading">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="main">
      <header id="header">
        <h1>About Me</h1>
        <br>
        <p>
          <p>
            When I left school at 18 I was interested in the tech industry but it became more of a hobby than it did a career path. Over time I realised that working in the tech industry is something that I’d be interested in doing as it’s full of innovation and creativity.
          </p>
          <br>
        </p>
        <br>
