<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../src/assets/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="../src/assets/favicon/favicon.png">
</head>
<body>
</div>
<main class="loading">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="main">
      <header id="header">
        <h1>GamesPost</h1>
        <br>
        <p>
          <p>
              GamesPost is a gaming site where users can recruit players or find substitutes for their tournament team. It works the other way round where a player who might be looking for a team can use GamesPost to find one. For this app I used my own API to list games on my apps index page. I love competitive gaming so this project yet again was a blast for me.</p>
              <br>
            </p>
            <br>
            <img style="height:200px; width:330px;" src="https://i.imgur.com/rBoq165.png" title="source: imgur.com" />
